# build --symlink_prefix=./out/bazel_build/bazel-
build --nocheck_visibility
build --experimental_cc_shared_library
# c++17 require by nanobind
# build --copt=-fvisibility=hidden
build --copt=-Wno-sign-compare
build --cxxopt=-std=c++17
build --host_cxxopt=-std=c++17


build --flag_alias=cuda_archs=@rules_cuda//cuda:archs
build:rules_cuda --cuda_archs=compute_89:compute_89,sm_89

